body {
background-color: #9955e6;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #c3a4e7;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}